name: Build WhatsApp EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install pandas openpyxl selenium webdriver-manager pyinstaller

    - name: Build exe
      run: |
        pyinstaller --onefile whatsapp_bot.py

    - name: Upload exe
      uses: actions/upload-artifact@v4
      with:
        name: whatsapp_bot
        path: dist/whatsapp_bot.exe
